#nav {
    background-color: yellow;
    margin: 50px;
    border: solid blue 5px
}

#header {
    background-color: yellow;
}

.green-letter {
    color: green;
}

#footer{
    font-size: small;
    font-weight: bold;
    border: solid 20px blue;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
    padding: 100px;
}